USE [master]
GO
/****** Object:  Database [eLoanImage]    Script Date: 2025/08/08 17:20:44 ******/
CREATE DATABASE [eLoanImage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eLoanImage', FILENAME = N'E:\MSSQL\Data\eLoanImage.mdf' , SIZE = 1351680KB , MAXSIZE = UNLIMITED, FILEGROWTH = 32768KB )
 LOG ON 
( NAME = N'eLoanImage_log', FILENAME = N'F:\MSSQL\Data\eLoanImage_log.ldf' , SIZE = 3121152KB , MAXSIZE = 2048GB , FILEGROWTH = 32768KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eLoanImage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eLoanImage]
GO
/****** Object:  User [test]    Script Date: 2025/08/08 17:20:45 ******/
CREATE USER [test] FOR LOGIN [test] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [COTABANK\eloanImage]    Script Date: 2025/08/08 17:20:45 ******/
CREATE USER [COTABANK\eloanImage] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [COTABANK\eLoanCCM]    Script Date: 2025/08/08 17:20:45 ******/
CREATE USER [COTABANK\eLoanCCM] FOR LOGIN [COTABANK\eLoanCCM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [COTABANK\eloan]    Script Date: 2025/08/08 17:20:45 ******/
CREATE USER [COTABANK\eloan] FOR LOGIN [COTABANK\eloan] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [COTABANK\DBUser]    Script Date: 2025/08/08 17:20:45 ******/
CREATE USER [COTABANK\DBUser] FOR LOGIN [COTABANK\DBUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [COTABANK\DbSafeGuardWeb]    Script Date: 2025/08/08 17:20:45 ******/
CREATE USER [COTABANK\DbSafeGuardWeb] FOR LOGIN [COTABANK\DbSafeGuardWeb] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [test]
GO
ALTER ROLE [db_owner] ADD MEMBER [COTABANK\eloanImage]
GO
ALTER ROLE [db_datareader] ADD MEMBER [COTABANK\eLoanCCM]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [COTABANK\eLoanCCM]
GO
ALTER ROLE [db_owner] ADD MEMBER [COTABANK\eloan]
GO
ALTER ROLE [db_owner] ADD MEMBER [COTABANK\DBUser]
GO
ALTER ROLE [db_owner] ADD MEMBER [COTABANK\DbSafeGuardWeb]
GO
/****** Object:  Table [dbo].[Annex]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Annex](
	[TableName] [varchar](20) NOT NULL,
	[ApplySn] [varchar](20) NOT NULL,
	[AnnexType] [tinyint] NOT NULL,
	[FileName] [nvarchar](50) NOT NULL,
	[FileExt] [varchar](5) NOT NULL,
	[FileSize] [float] NOT NULL,
	[FileData] [image] NOT NULL,
	[UploadEmp] [varchar](6) NOT NULL,
	[UploadTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Annex] PRIMARY KEY CLUSTERED 
(
	[TableName] ASC,
	[ApplySn] ASC,
	[FileName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCFile]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCFile](
	[ApplySn] [varchar](50) NOT NULL,
	[Type] [tinyint] NOT NULL,
	[FileName] [nvarchar](50) NOT NULL,
	[FileExt] [varchar](5) NOT NULL,
	[FileSize] [float] NOT NULL,
	[FileData] [varbinary](max) NOT NULL,
	[UploadTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Lnmix] PRIMARY KEY CLUSTERED 
(
	[ApplySn] ASC,
	[FileName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCJcic]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCJcic](
	[ApplySn] [varchar](20) NOT NULL,
	[CusID] [varchar](11) NOT NULL,
	[ProductCode] [varchar](3) NOT NULL,
	[Html] [nvarchar](max) NOT NULL,
	[RawData] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CCJcic] PRIMARY KEY CLUSTERED 
(
	[ApplySn] ASC,
	[CusID] ASC,
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCMESign]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCMESign](
	[MeetingDate] [varchar](10) NOT NULL,
	[MeetingSn] [tinyint] NOT NULL,
	[EmpNo] [varchar](6) NOT NULL,
	[SignTime] [datetime] NOT NULL,
	[Signature] [image] NOT NULL,
 CONSTRAINT [PK_CCMESign] PRIMARY KEY CLUSTERED 
(
	[MeetingDate] ASC,
	[MeetingSn] ASC,
	[EmpNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCMMemberLogs]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCMMemberLogs](
	[EmpNo] [varchar](6) NOT NULL,
	[Action] [varchar](15) NOT NULL,
	[Operator] [varchar](6) NOT NULL,
	[LogTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCReportFile]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCReportFile](
	[ApplySn] [varchar](20) NOT NULL,
	[CusID] [varchar](11) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[FileName] [nvarchar](50) NOT NULL,
	[FileExt] [varchar](5) NOT NULL,
	[FileSize] [float] NOT NULL,
	[FileData] [varbinary](max) NOT NULL,
	[UploadTime] [datetime] NOT NULL,
 CONSTRAINT [PK_CCReportFile_1] PRIMARY KEY CLUSTERED 
(
	[ApplySn] ASC,
	[CusID] ASC,
	[FileName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCTch]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCTch](
	[ApplySn] [varchar](20) NOT NULL,
	[CusID] [varchar](11) NOT NULL,
	[ProductCode] [varchar](4) NOT NULL,
	[Html] [nvarchar](max) NOT NULL,
	[RawData] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CCTch] PRIMARY KEY CLUSTERED 
(
	[ApplySn] ASC,
	[CusID] ASC,
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ELoanCCMMeetingPdf]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ELoanCCMMeetingPdf](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MeetingDate] [varchar](10) NULL,
	[MeetingSn] [tinyint] NULL,
	[FileNo] [varchar](20) NULL,
	[DocumentType] [tinyint] NULL,
	[DocumentName] [nvarchar](50) NULL,
	[Pdf] [image] NULL,
	[MemNo_SerNo] [nvarchar](12) NULL,
 CONSTRAINT [PK__ELoanCCM__3214EC07743AAA59] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ELoanEditor]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ELoanEditor](
	[FileID] [bigint] IDENTITY(1,1) NOT NULL,
	[Keywords] [nvarchar](30) NOT NULL,
	[FileName] [nvarchar](50) NOT NULL,
	[ContentType] [nvarchar](50) NOT NULL,
	[Data] [image] NOT NULL,
	[EmpNo] [varchar](6) NOT NULL,
	[UploadTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ELoanEditor_1] PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESGSelfFiles]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESGSelfFiles](
	[SendDate] [varchar](7) NOT NULL,
	[FileType] [varchar](3) NOT NULL,
	[TodayFileSn] [int] NOT NULL,
	[ReceivedFile] [nvarchar](max) NULL,
	[ReceivedTime] [datetime] NULL,
	[Successed] [bit] NOT NULL,
 CONSTRAINT [PK_ESGSelfFiles] PRIMARY KEY CLUSTERED 
(
	[SendDate] ASC,
	[FileType] ASC,
	[TodayFileSn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jcic]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jcic](
	[QueryId] [int] NOT NULL,
	[DpCode] [varchar](4) NOT NULL,
	[CusID] [varchar](11) NOT NULL,
	[ProductCode] [varchar](3) NOT NULL,
	[Html] [nvarchar](max) NOT NULL,
	[RawData] [nvarchar](max) NOT NULL,
	[QueryTime] [datetime] NOT NULL,
	[UploadTime] [datetime] NOT NULL,
	[CName] [varchar](120) NULL,
	[EName] [varchar](60) NULL,
	[BaDate] [char](5) NULL,
	[MainCode] [char](3) NULL,
	[BankCode] [char](7) NULL,
	[Year] [tinyint] NULL,
	[Mon] [tinyint] NULL,
	[Day] [tinyint] NULL,
	[Nation] [char](2) NULL,
	[Type1] [varchar](1) NULL,
	[Type2] [varchar](15) NULL,
	[Rank1] [int] NULL,
	[Rank2] [int] NULL,
	[CpaId] [char](6) NULL,
	[Any] [varchar](200) NULL,
	[EnqId] [int] NULL,
 CONSTRAINT [PK_Jcic] PRIMARY KEY CLUSTERED 
(
	[CusID] ASC,
	[ProductCode] ASC,
	[QueryTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LandEPaperPdf]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LandEPaperPdf](
	[PdfNo] [varchar](20) NOT NULL,
	[TargetType] [char](1) NOT NULL,
	[SerialNo] [tinyint] NOT NULL,
	[DocumentType] [tinyint] NOT NULL,
	[Pdf] [image] NOT NULL,
	[FileID] [varchar](50) NULL,
	[SendTime] [datetime] NULL,
	[City] [nvarchar](20) NULL,
	[Town] [nvarchar](20) NULL,
	[Section] [nvarchar](20) NULL,
	[No1] [varchar](5) NULL,
	[No2] [varchar](5) NULL,
	[UnRecognized] [char](1) NULL,
	[RecognizeData] [nvarchar](max) NULL,
	[RecognizeTime] [datetime] NULL,
	[Officer] [varchar](6) NULL,
	[UpdateTime] [datetime] NULL,
 CONSTRAINT [PK_LandPdf] PRIMARY KEY CLUSTERED 
(
	[PdfNo] ASC,
	[SerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lnmix]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lnmix](
	[BrCode] [varchar](2) NOT NULL,
	[CusID] [varchar](11) NOT NULL,
	[FileName] [nvarchar](50) NOT NULL,
	[FileExt] [varchar](5) NOT NULL,
	[FileSize] [float] NOT NULL,
	[FileData] [varbinary](max) NOT NULL,
	[UploadEmp] [varchar](6) NOT NULL,
	[UploadTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Lnmix_1] PRIMARY KEY CLUSTERED 
(
	[BrCode] ASC,
	[CusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoticeAnnex]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoticeAnnex](
	[TableName] [varchar](20) NOT NULL,
	[NoticeSn] [tinyint] NOT NULL,
	[ApplySn] [varchar](20) NOT NULL,
	[AnnexType] [tinyint] NOT NULL,
	[FileName] [nvarchar](50) NOT NULL,
	[FileExt] [varchar](5) NOT NULL,
	[FileSize] [float] NOT NULL,
	[FileData] [image] NOT NULL,
	[UploadEmp] [varchar](6) NOT NULL,
	[UploadTime] [datetime] NOT NULL,
 CONSTRAINT [PK_NoticeAnnex] PRIMARY KEY CLUSTERED 
(
	[TableName] ASC,
	[NoticeSn] ASC,
	[ApplySn] ASC,
	[FileName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPhoto]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPhoto](
	[ApplySn] [varchar](20) NOT NULL,
	[REInfoSn] [int] NOT NULL,
	[REPhotoSn] [int] NOT NULL,
	[Description] [nvarchar](100) NULL,
	[Photo] [image] NOT NULL,
	[IsCreditOfferUpload] [bit] NOT NULL,
	[UploadTime] [datetime] NOT NULL,
 CONSTRAINT [PK_REImage] PRIMARY KEY CLUSTERED 
(
	[ApplySn] ASC,
	[REInfoSn] ASC,
	[REPhotoSn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RETableB]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RETableB](
	[CCApplySn] [varchar](20) NOT NULL,
	[CusID] [varchar](11) NOT NULL,
	[GroupIndex] [tinyint] NOT NULL,
	[SnInGroup] [tinyint] NOT NULL,
	[Source] [varchar](20) NOT NULL,
	[PdfNo] [varchar](20) NOT NULL,
	[SerialNo] [tinyint] NOT NULL,
	[TargetType] [char](1) NOT NULL,
	[CityName] [nvarchar](60) NOT NULL,
	[TownName] [nvarchar](60) NOT NULL,
	[SectionName] [nvarchar](60) NOT NULL,
	[No1] [varchar](5) NOT NULL,
	[No2] [varchar](5) NOT NULL,
	[RecognizeData] [nvarchar](max) NOT NULL,
	[BindOwnerId] [varchar](11) NOT NULL,
 CONSTRAINT [PK_RETableB] PRIMARY KEY CLUSTERED 
(
	[CCApplySn] ASC,
	[CusID] ASC,
	[GroupIndex] ASC,
	[SnInGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteInspectionPhoto]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteInspectionPhoto](
	[PhotoID] [bigint] IDENTITY(1,1) NOT NULL,
	[ApplySn] [varchar](20) NOT NULL,
	[TableSn] [tinyint] NOT NULL,
	[Description] [nvarchar](100) NULL,
	[Photo] [image] NOT NULL,
	[UploadTime] [datetime] NOT NULL,
 CONSTRAINT [PK_SiteInspectionPhoto] PRIMARY KEY CLUSTERED 
(
	[PhotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteSurveyImg]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteSurveyImg](
	[TableName] [varchar](20) NOT NULL,
	[ApplySn] [varchar](20) NOT NULL,
	[ImgID] [varchar](36) NOT NULL,
	[ImgData] [image] NOT NULL,
	[Uploder] [varchar](6) NOT NULL,
	[UploadTime] [datetime] NOT NULL,
 CONSTRAINT [PK_SiteSurveyImg] PRIMARY KEY CLUSTERED 
(
	[TableName] ASC,
	[ApplySn] ASC,
	[ImgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteSurveyLog]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteSurveyLog](
	[LogTime] [datetime] NOT NULL,
	[UUID] [varchar](60) NOT NULL,
	[ApplySn] [varchar](20) NOT NULL,
	[FunctionCode] [varchar](60) NOT NULL,
	[IP] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tch]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tch](
	[DpCode] [varchar](4) NOT NULL,
	[CusID] [varchar](11) NOT NULL,
	[ProductCode] [varchar](4) NOT NULL,
	[Html] [nvarchar](max) NOT NULL,
	[RawData] [nvarchar](max) NOT NULL,
	[QueryTime] [datetime] NOT NULL,
	[UploadTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Tch] PRIMARY KEY CLUSTERED 
(
	[CusID] ASC,
	[ProductCode] ASC,
	[QueryTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitReviewDocument]    Script Date: 2025/08/08 17:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitReviewDocument](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ApplySn] [varchar](12) NOT NULL,
	[DocumentSer] [tinyint] NOT NULL,
	[FileName] [nvarchar](100) NULL,
	[FileContent] [image] NULL,
 CONSTRAINT [PK__UnitRevi__3214EC07B3B4579F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CCMMemberLogs]    Script Date: 2025/08/08 17:20:45 ******/
CREATE NONCLUSTERED INDEX [IX_CCMMemberLogs] ON [dbo].[CCMMemberLogs]
(
	[EmpNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CCMMemberLogs_1]    Script Date: 2025/08/08 17:20:45 ******/
CREATE NONCLUSTERED INDEX [IX_CCMMemberLogs_1] ON [dbo].[CCMMemberLogs]
(
	[LogTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jcic_QueryTime]    Script Date: 2025/08/08 17:20:45 ******/
CREATE NONCLUSTERED INDEX [IX_Jcic_QueryTime] ON [dbo].[Jcic]
(
	[QueryTime] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LandEPaperPdf]    Script Date: 2025/08/08 17:20:45 ******/
CREATE NONCLUSTERED INDEX [IX_LandEPaperPdf] ON [dbo].[LandEPaperPdf]
(
	[PdfNo] ASC,
	[TargetType] ASC,
	[City] ASC,
	[Town] ASC,
	[Section] ASC,
	[No1] ASC,
	[No2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SiteInspectionPhoto]    Script Date: 2025/08/08 17:20:45 ******/
CREATE NONCLUSTERED INDEX [IX_SiteInspectionPhoto] ON [dbo].[SiteInspectionPhoto]
(
	[ApplySn] ASC,
	[TableSn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SiteSurveyLog]    Script Date: 2025/08/08 17:20:45 ******/
CREATE NONCLUSTERED INDEX [IX_SiteSurveyLog] ON [dbo].[SiteSurveyLog]
(
	[LogTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SiteSurveyLog_1]    Script Date: 2025/08/08 17:20:45 ******/
CREATE NONCLUSTERED INDEX [IX_SiteSurveyLog_1] ON [dbo].[SiteSurveyLog]
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SiteSurveyLog_2]    Script Date: 2025/08/08 17:20:45 ******/
CREATE NONCLUSTERED INDEX [IX_SiteSurveyLog_2] ON [dbo].[SiteSurveyLog]
(
	[IP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tch_QueryTime]    Script Date: 2025/08/08 17:20:45 ******/
CREATE NONCLUSTERED INDEX [IX_Tch_QueryTime] ON [dbo].[Tch]
(
	[QueryTime] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCFile] ADD  CONSTRAINT [DF_CCFile_Type]  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[CCReportFile] ADD  CONSTRAINT [DF_CCReportFile_Description]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[ESGSelfFiles] ADD  CONSTRAINT [DF_ESGSelfFiles_Successed]  DEFAULT ((0)) FOR [Successed]
GO
ALTER TABLE [dbo].[Jcic] ADD  CONSTRAINT [DF__Jcic__QueryId__09946309]  DEFAULT ((0)) FOR [QueryId]
GO
ALTER TABLE [dbo].[LandEPaperPdf] ADD  CONSTRAINT [DF_LandPdf_SerialNo]  DEFAULT ((0)) FOR [SerialNo]
GO
ALTER TABLE [dbo].[LandEPaperPdf] ADD  CONSTRAINT [DF_LandEPaperPdf_DocumentType]  DEFAULT ((0)) FOR [DocumentType]
GO
ALTER TABLE [dbo].[NoticeAnnex] ADD  CONSTRAINT [DF_NoticeAnnex_NoticeSn]  DEFAULT ((0)) FOR [NoticeSn]
GO
ALTER TABLE [dbo].[REPhoto] ADD  CONSTRAINT [DF_REPhoto_IsCreditOfferUpload]  DEFAULT ((0)) FOR [IsCreditOfferUpload]
GO
USE [master]
GO
